.imagen{
    max-width: 230px;
    margin: auto;
}

.comentarios{
    font-size: 30px;
}
.comentarios:hover{
    color: orange;
}

.comentario{
    display: inline-block;
}
.like{
    display: inline-block;
}