<ion-list>
  <ion-item >
    <ion-thumbnail slot="start">
      <img src="https://firebasestorage.googleapis.com/v0/b/appetite-38a99.appspot.com/o/locales%2F%20CRACK%20CRACK?alt=media&token=e2574c5d-2ed3-4dad-b45e-8bac9513b3fd" class="card-img-top" alt="...">
    </ion-thumbnail>
    <ion-label>CRACK CRACK</ion-label>
    <ion-label>99 Likes / 99 Reseñas</ion-label>
    <ion-label>Heladeria</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-list>
    <ion-list-header>Item Avatars</ion-list-header>


    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h3>Miguel Ruvalcaba</h3>
        <p>Me gustó el local. está buenisimo!!</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-list>