<ion-header>
  <ion-toolbar>
    <ion-title>Login Appetite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-7 col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/appetite-38a99.appspot.com/o/fast.png?alt=media&token=4f5ee9bf-6b05-419c-bd3a-2e8fbcb1c7e1"
          class="rounded float-start imagen" alt="imagen no disponible">
      </div>
      <div class="col-md-4 col-lg-6">
        <div class="login">
          <h1 class="titulo">Appetite</h1>
          <h2 class="subtitulo">Iniciar Sesión</h2>
          <br>
          <ion-button class="boton" expand="block" color="danger"><ion-icon name="logo-google"></ion-icon> &nbsp;Google</ion-button>
        </div>
      </div>
    </div>
  </div>-->


  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body ">
            <h1 class="titulo">Appetite</h1>
          <h2 class="subtitulo">Iniciar Sesión</h2>
          <br>
          <ion-button class="boton" expand="block" color="danger"><ion-icon name="logo-google"></ion-icon> &nbsp;Google</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>



</ion-content>