<ion-content>
  <br>
  <br>
  <h1 class="titulo">Appetite</h1>

  <p class="subtitulo">Busca tu destino, Sacia tu apetito</p>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Dirección</ion-label>
    
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Horario de apertura</ion-label>
    
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Días de apertura</ion-label>
    
  </ion-item>

  <ion-button expand="block" color="danger" class="boton">Crear sugerencia</ion-button>

</ion-content>